<main class="container">
  <section class="pb-4 pt-3">
      <h1 class="d-block" style="font-size: 2em;">
          Maquetar con Flex
      </h1>
      <p>Maquetar el componente y hacer responsive solo con flex. Recomendamos usar las clases de Bootstrap.</p>
  </section>
  <!-- Ejercicio 3 -->
  <section class="row mb-3">
      <div class="col-12">
          <figure>
              <img src="image/ejercicio3_3.png" alt="" class="img-fluid">
          </figure>
      </div>
  </section>
  <!-- end Ejercicio 4 -->

  <!-- solucion -->
  <section class="p-4 border rounded shadow">
      <section class="header d-md-flex justify-content-md-between align-items-md-center">
          <h2 class="d-md-flex align-items-md-center border-bottom flex-grow-1 pb-2 mb-2 text-center text-md-left">
              Registra tu viaje con días adicionales
              <button class="btn-popover btn btn-light d-md-flex align-items-center d-none">
                  <span class="material-icons">
                      contact_support
                  </span>
              </button>
          </h2>
          <button class="btn btn-primary d-flex justify-content-center align-content-center ml-md-3 mx-auto mb-3 mb-md-0">
              <span class="material-icons">
                  add
              </span>
              Adicionar
          </button>
      </section>
      <p class="text-center text-md-left">
          Haz clic en el botón <em>Adicionar</em> para agregar un viaje
      </p>
  </section>
  <!-- end solucion -->
</main>
